.app-container-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.app-container-category-content {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container-category-content-header {
  overflow: hidden;
  margin-bottom: 40px;
}
.app-container-category-content-category {
  /* overflow: hidden; */

  height: 80%;
}

.app-container-user-edit-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.app-container-user-edit-form-input {
  /* background-color: red; */
  background-color: #fff;
  border-radius: 2rem;
  padding: 0 2rem 0 2rem;
  box-shadow: 0 2rem 3rem rgb(132 139 200 / 18%);
  height: 700px;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-top {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-bot {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .user-top {
    width: 120%;
  }

  .user-top > div > div {
    margin-left: -10%;
  }
  .user-bot {
    height: 100%;
  }
}
