.app-container-navBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0% 0%;
  width: 400px;
  background-color: #212529;
}

h1 {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.app-container-tittle > hr {
  text-align: center;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 32px;
  background: white;
  width: 200px;
}

.app-container-links {
  display: flex;
  flex-direction: column;
}

.app-container-links > nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 10px;
  color: white;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-container-links > nav > div > span {
  font-size: 20px;
  text-decoration: none;
}

.app-container-links > nav > div > svg {
  margin-right: 25px;
  margin-left: 24px;
}

p {
  font-size: 20px;
  margin-top: -8px;
}
.app-container-links > nav > div:hover {
  background-color: rgb(72, 72, 72);
  color: #f37915;
}

@media (max-width: 1100px) {
  .app-container-navBar {
    width: 25%;
    overflow: hidden;
  }
  .app-container-logo-side > img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1000px) {
  .app-container-navBar {
    width: 100px;
  }

  .app-container-logo-side > img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .app-container-links > nav > div > svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 400px) {
  .app-container-links > nav > div > svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-height: 440px) {
  .app-container-navbar {
    overflow-y: scroll;
  }
  .app-container-links {
    overflow-y: hidden;
  }
}

@media (max-height: 440px) and (max-width: 1000px) {
  .app-container-navbar {
    overflow-y: scroll;
  }
  .app-container-links {
    overflow-y: hidden;
  }

  .app-container-links {
    overflow-y: scroll;
  }

  .app-container-links > nav > div > svg {
    min-width: fit-content !important;
    margin: auto;
  }
}
