.information-container {
  font-size: 30px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  height: 80%;
  padding: 20px;
  padding-top: 0;
}

.information-container > h3 {
  margin: 0;
  margin-bottom: 20px;
}

.cabezeraInformacion {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.cabezeraInformacion > img {
  width: 200px;
  height: 200px;
}

.Members-container-member {
  border: 5px solid #0887a0;
  width: 260px;
  height: 300px;
}

.Members-container-member > img {
  width: 260px;
  height: 300px;
}

.Members-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px; /* Espacio entre tarjetas */
}

@media screen and (max-width: 1300px) {
  .Members-container {
    grid-template-columns: repeat(3, auto); /* Cambia a dos columnas */
  }
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .Members-container {
    grid-template-columns: repeat(2, auto); /* Cambia a dos columnas */
  }
}

/* Consulta de medios para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
  .Members-container {
    grid-template-columns: auto; /* Cambia a una sola columna */
  }
}

.Members-container-names {
  background-color: #0887a0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

@media (max-width: 600px) {
  .cabezeraInformacion {
    display: flex;
    flex-direction: column;
  }

  .cabezeraInformacion > p {
    font-size: 18px;
  }
}
